body {
    font-size: 27px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 33px;
}
a {
    text-decoration: none;
}
a:visited {
    color: red;
}
a:link {
    color: gray;
}
a:hover {
    color: green;
}
span {
    color: orange;
    font-size: 20px;
}