{% extends 'jinja_test/base_bootstrap.html' %}

{% block title %}
    Test
{% endblock %}

{% block body_block %}

    {% set time_now=current_time('%Y-%m-%d %I:%M:%S %p') %}

    This is the page for test purpose.

    {{ br_num(3) }}

    {% for i in 5|times %}
           <a href="{{ url('index') }}" style="color: {{ random_color() }}">url test</a>
           <br>
    {% endfor %}


    {{ br_num(2) }}

    <a href="{{ static('images/rango.jpg') }}">static test</a>

    {{ br_num(3) }}

    {% for i in 5|times %}
        <p style="color: {{ random_color() }}; font-size: 20px;">{{ time_now }}</p>
    {% endfor %}

    {{ br_num(2) }}

    {{ user.username|replace('l', 'Q') }}

    {{ br_num(3) }}

    {{ get_current_time_list() }}

    {{ br_num(2) }}

    filter 把负数转为正数：{{ -3|abs }}

    {{ br_num(3) }}

    attr filter test: {{ user|attr('username') }}

    {{ br_num(3) }}

    capitalize filter test: {{ 'abcde'|capitalize }}

    {{ br_num(3) }}

    count filter test: {{ 'asdfasfdasdf'|count }}

    {{ br_num(3) }}

    default filter test: {{ whatever|d('默认值') }}

    {{ br_num(3) }}

    dictsort filter test1:   <br>
    {% for item in dct|dictsort %}
        {{ item[0] }} = {{ item[1] }}   <br>
    {% endfor %}

    {{ br_num(2) }}

    dictsort filter test2:   <br>
    {% for item in dct|dictsort(by='value') %}
        {{ item[0] }} = {{ item[1] }}   <br>
    {% endfor %}

    {{ br_num(2) }}

    {{ '<b>I want to escape!</b>'|safe }}   <br>
    {{ '<b>OK!</b>'|e|safe }}

    {{ br_num(3) }}

    {{ 102400|filesizeformat }}

    {{ br_num(3) }}

    {{ lst|first }}

    {{ br_num(3) }}

    {{ '23333'|float }}

    {{ br_num(3) }}

    {{ '%s %s'|format('你好！', '你也好！') }}

    {{ br_num(3) }}

    <ul>
    {% for group in pages|groupby('category_id') %}
        <li>
            {{ group.grouper }}
                <ul>
                {% for i in group.list %}
                    <li><a href="{{ i.url }}">{{ i.title }}</a></li>
                {% endfor %}
                </ul>
        </li>
    {% endfor %}
    </ul>

    {{ br_num(2) }}

    {{ '23333'|int }}

    {{ br_num(3) }}

    {{ [1, 2, 3]|join('|') }} <br>
    {{ pages|join(' | ') }}

    {{ br_num(3) }}

    {{ lst|last }}

    {{ br_num(3) }}

    {{ 'letter'|list }}

    {{ br_num(3) }}

    {{ 'LOWER'|lower }}

    {{ br_num(3) }}

    {{ ['cat', 'bird', 'dog']|map('capitalize')|join(' | ') }} <br>
    {{ pages|map(attribute='views')|join(',') }}

    {{ br_num(3) }}

    {{ '中国中国中国中国中国'|replace('中国', '美国', 2)}}

    {{ br_num(3) }}

    <img src="{{ thumbnail('cat.jpg', size=(200, 200)) }}" alt="">

    {{ br_num(3) }}

    {{ 3|add(4) }}

    {{ 'asasd'|random() }}

{% endblock %}