{% extends 'jinja_test/base_bootstrap.html' %}

{% block title %}
    Test
{% endblock %}

{% block body_block %}

    {% set time_now=current_time('%Y-%m-%d %I:%M:%S %p') %}

    This is the page for test purpose.

    {{ br_num(3) }}

    {% for i in 5|times %}
           <a href="{{ url('index') }}" style="color: {{ random_color() }}">url test</a>
           <br>
    {% endfor %}


    {{ br_num(2) }}

    <a href="{{ static('images/rango.jpg') }}">static test</a>

    {{ br_num(3) }}

    {% for i in 5|times %}
        <p style="color: {{ random_color() }}; font-size: 20px;">{{ time_now }}</p>
    {% endfor %}

    {{ br_num(2) }}

    {{ user.username|replace('l', 'Q') }}

    {{ br_num(3) }}

    {{ get_current_time_list() }}

    {{ br_num(2) }}

    filter 把负数转为正数：{{ -3|abs }}

    {{ br_num(3) }}

    attr filter test: {{ user|attr('username') }}

    {{ br_num(3) }}

    capitalize filter test: {{ 'abcde'|capitalize }}

    {{ br_num(3) }}

    count filter test: {{ 'asdfasfdasdf'|count }}

    {{ br_num(3) }}

    default filter test: {{ whatever|d('默认值') }}

{% endblock %}