{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}
{% load rango_template_tags %}

{% block body_block %}

    <div class="jumbotron">
        <h1 class="display-3">Rango says...</h1>
        {% if user.is_authenticated %}
            hello {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
        You have visited the website for <span class="visits">{{ visits }}</span> times!
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h3>Most Liked Categories</h3>
            {% if categories %}
                <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item">
                            <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>

        <div class="col-lg-6">
            <h2>Most Viewd Pages</h2>
                {% if pages %}
                    <ul class="list-group">
                    {% for page in pages %}
                        <li class="list-group-item">
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
        </div>

    </div>

    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango">
    </div>

{% endblock %}